openapi: 3.0.0
info:
  title: BrAPI Financial Assistant
  description: API para buscar dados da B3, histórico de dividendos e simular renda passiva usando brapi.dev. Atua como middleware com cache e fallback.
  version: 1.0.0
servers:
  - url: https://us-central1-brapi-backend-gpt-76524254.cloudfunctions.net/api
    description: URL da Cloud Function
components:
  securitySchemes:
    # Optional: Placeholder for future authentication if needed
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
paths:
  /quote:
    get:
      operationId: getQuote
      summary: Obter cotação e dados fundamentais
      description: Retorna dados atualizados de um ativo, incluindo preço, variação, volume e setor.
      parameters:
        - name: ticker
          in: query
          required: true
          description: Símbolo da ação (ex: PETR4, VALE3).
          schema:
            type: string
            example: "PETR4"
      responses:
        "200":
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                required:
                  - ticker
                  - precoAtual
                  - setor
                properties:
                  ticker:
                    type: string
                    example: "PETR4"
                  nome:
                    type: string
                    example: "PETROBRAS PN N2"
                  precoAtual:
                    type: number
                    example: 38.50
                  variacaoPercentualDia:
                    type: number
                    example: 1.25
                  dividendYieldAtual:
                    type: number
                    example: 12.5
                  ultimoFechamento:
                    type: number
                    example: 38.00
                  volume:
                    type: number
                    example: 50000000
                  setor:
                    type: string
                    example: "Energy Minerals"
        "400":
          description: Parâmetro ticker ausente.
        "404":
          description: Ticker não encontrado ou inválido.
        "502":
          description: Erro de comunicação com a BrAPI.

  /dividends:
    get:
      operationId: getDividends
      summary: Obter histórico de dividendos
      description: Retorna lista de proventos pagos nos últimos X meses.
      parameters:
        - name: ticker
          in: query
          required: true
          schema:
            type: string
            example: "VALE3"
        - name: periodoMeses
          in: query
          required: false
          schema:
            type: integer
            default: 12
            example: 12
      responses:
        "200":
          description: Histórico de dividendos
          content:
            application/json:
              schema:
                type: object
                required:
                  - ticker
                  - periodoMeses
                  - totalNoPeriodo
                  - dividendos
                properties:
                  ticker:
                    type: string
                    example: "VALE3"
                  periodoMeses:
                    type: integer
                    example: 12
                  totalNoPeriodo:
                    type: number
                    example: 4.50
                  dividendos:
                    type: array
                    items:
                      type: object
                      required:
                        - dataCom
                        - valorPorAcao
                        - tipo
                      properties:
                        dataCom:
                          type: string
                          example: "2023-12-01"
                        valorPorAcao:
                          type: number
                          example: 0.50
                        tipo:
                          type: string
                          example: "JCP"

  /renda-passiva:
    post:
      operationId: simulatePassiveIncome
      summary: Simular renda passiva (Ativo Único)
      description: Calcula projeção de renda passiva mensal futura baseada em yield histórico e juros compostos.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ticker
                - aporteMensal
                - anos
              properties:
                ticker:
                  type: string
                  example: "BBAS3"
                aporteMensal:
                  type: number
                  description: Valor do aporte mensal em reais (deve ser maior que zero).
                  example: 500
                anos:
                  type: integer
                  description: Prazo da simulação em anos (deve ser maior que zero).
                  example: 10
      responses:
        "200":
          description: Resultado da simulação
          content:
            application/json:
              schema:
                type: object
                required:
                  - ticker
                  - aporteMensal
                  - anos
                  - precoAtual
                  - dividendYieldAnual
                  - cotasEstimadas
                  - patrimonioFinalEstimado
                  - rendaPassivaMensalEstimativa
                  - magicNumberCotas
                properties:
                  ticker:
                    type: string
                  aporteMensal:
                    type: number
                  anos:
                    type: integer
                  precoAtual:
                    type: number
                  dividendYieldAnual:
                    type: number
                  cotasEstimadas:
                    type: integer
                  patrimonioFinalEstimado:
                    type: number
                  rendaPassivaMensalEstimativa:
                    type: number
                  magicNumberCotas:
                    type: number
        "400":
           description: Erro de validação (parâmetros inválidos ou menores que zero).

  /carteira-renda-passiva:
    post:
      operationId: simulatePortfolio
      summary: Simular carteira de renda passiva
      description: Projeta renda passiva para uma carteira de múltiplos ativos com pesos definidos.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ativos
                - aporteMensalTotal
                - anos
              properties:
                aporteMensalTotal:
                  type: number
                  example: 1000
                anos:
                  type: integer
                  example: 15
                ativos:
                  type: array
                  description: Lista de ativos. A soma dos pesos deve ser 100.
                  items:
                    type: object
                    required:
                      - ticker
                      - peso
                    properties:
                      ticker:
                        type: string
                        example: "TAEE11"
                      peso:
                        type: number
                        description: Peso percentual na carteira (0-100).
                        example: 50
      responses:
        "200":
          description: Resultado consolidado da carteira
          content:
            application/json:
              schema:
                type: object
                required:
                  - aporteMensalTotal
                  - anos
                  - dividendYieldMedioPonderado
                  - rendaPassivaMensalTotalEstimativa
                  - patrimonioTotalEstimado
                  - ativos
                properties:
                  aporteMensalTotal:
                    type: number
                    example: 1000
                  anos:
                    type: integer
                    example: 15
                  dividendYieldMedioPonderado:
                    type: number
                    example: 8.5
                  rendaPassivaMensalTotalEstimativa:
                    type: number
                    example: 550.75
                  patrimonioTotalEstimado:
                    type: number
                    example: 150000
                  ativos:
                    type: array
                    items:
                      type: object
                      properties:
                        ticker:
                          type: string
                          example: "TAEE11"
                        peso:
                          type: number
                          example: 50
                        rendaPassivaMensalEstimativa:
                           type: number
                           example: 275.37
                        patrimonioFinalEstimado:
                           type: number
                           example: 75000
        "400":
          description: Erro de validação (Soma dos pesos != 100 ou valores inválidos).